.header-container {
    display: flex;
    background-color: #e23e57;
    gap: 40px;
    align-items: center;
    height: 150px;
    padding: 20px;
}

.textHeader {
    font-size: xx-large;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e6e6e6;
}

.textHeaderProdutos {
    font-size: large;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e6e6e6;
}