.header-container{

    display: flex;
    background-color: #e23e57 ;
    gap: 40px;
    align-items: center;
    height: 150px;
  
}

.textHeader{

    font-size: large;
    text-align: left ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: #e6e6e6;
    
}

.textHeaderProdutos{

    font-size: large;
    text-align: left ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    color: #e6e6e6;

}